@import "../global.scss";

#search {
  font-size: 14pt;
}

.coupons-results {
  margin-top: 20px;
  overflow: scroll;
}

.loading-container {
  height: 500px;
}

.coupons-results-table {
  thead {
    th {
      width: 200px;
    }
  }
  td {
    border-top: 2px solid #e9e9e9;
    border-bottom: 2px solid #e9e9e9;
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .coupon-card {
    width: 100%;
  }
}
