@import "../global.scss";

.coupon-card {
  width: 600px;
}

#search {
  font-size: 14pt;
}

.coupons-results {
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 650px;
  margin-top: 20px;
  overflow: scroll;
}

.coupons-results-table {
  thead {
    th {
      // border: 2px solid #e9e9e9;
      width: 200px;
    }
  }
  td {
    border-top: 2px solid #e9e9e9;
    border-bottom: 2px solid #e9e9e9;
  }
}

@media (max-width: 600px) {
  .coupon-card {
      width: 100%;
  }
}