.navbutton {
  background: rgba(255, 102, 102, 1);
  color:#fff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.5s;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background: rgba(255, 102, 102, 1);
  }
}

.info {
  font-size: 12pt;
  margin-left: 10px;
  margin-top: 10px;
}