.price {
    text-align: center;
    font-size: 13pt;
    .icon_middle {
        position: relative;
    }
    .info {
        margin-left: 20px;
        font-weight: bold;
    }
}

.money {
    border: 3px solid #f66;
    border-radius: 40px;
    font-size: 14pt;
}