.remove-button {
  border: 2px solid #f66;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  font-size: 10px;
  padding-left: 1px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed; 
}